#globaldiv{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    background: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 15%, rgba(33,180,226,1) 65%, rgba(183,222,237,1) 100%);
    font-style: oblique;
    border-radius: 10px;
}

.fit-picture{
    width: 100px;
    height: 100px;
    border-radius: 60%;
}

#home{
    font-size: x-large;
    font-style: oblique;
    margin-top: 25px;
    margin-bottom: auto;

}
button{
    height: 50px;
    width: 100px
}